<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="getPushToken()">Get Push Token</ion-button>
    <ion-button (click)="logEvent('test', {message: 'hi'})">Send Analytics Event</ion-button>
    <ion-button (click)="triggerMap()">Get A Map</ion-button>
    <ion-button (click)="triggerAccount()">Account Login</ion-button>
    <ion-button (click)="triggerAds()">Multiple Ads</ion-button>
    <ion-button (click)="triggerLocation()">Get Location</ion-button>
    <ion-button (click)="triggerPurchase()">Purchase Gems</ion-button>
    <ion-button (click)="triggerDrive()">Check Drive</ion-button>
    <ion-button (click)="triggerSite()">Search Sites</ion-button>
  </div>
</ion-content>